.option{
   
    justify-content: space-between;
    margin-left: 50px;
    opacity: 0;
}

.score{
    display: flex;
    
}

#score{
    margin-left: 10px;

}

.description{
    display: flex;
    justify-content: center;
}

#canvas{
    display: flex;
    justify-content: center;
    margin: auto;
}